<div class="container">
    <form name="sensor_form" class="white-txt" ng-submit="sensor_edit(fieldsid, fieldsuid, fieldsname, fieldsinfo, fieldsunit, fieldslongunit, fieldequipment)">
        <div class="form-group">
            <label for="input" class="col-sm-2 form-control-label">ID</label>
            <div class="col-sm-10">
                <input ng-disabled="true" type="text" class="form-control" id="input" ng-model="fieldsid">
            </div>
            <label for="input" class="col-sm-2 form-control-label">UID</label>
            <div class="col-sm-10">
                <input ng-disabled="true" type="text" class="form-control" id="input" ng-model="fieldsuid">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="16" ng-model="fieldsname">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Sensor Info</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="1024" ng-model="fieldsinfo">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Unit</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="16" ng-model="fieldsunit">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Longunit</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="16" ng-model="fieldslongunit">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Equipment</label>
            <div class="col-sm-10">
                <input ng-disabled="true" type="text" class="form-control" id="input" ng-model="fieldequipment">
            </div>
            <input ng-disabled="submitButtonTog" type="submit" value="Submit" />
        </div>
    </div>
</div>
