<span ng-controller="DisplayController">
	<div class="col-md-12">
		<div class="row row-nrm">
			<div class="col-md-4">
				<p>Sensor Name: {{sensor_info_name}}</p>
				<p>Sensor Info: {{sensor_info_info}}</p>
			</div>
			<div class="col-md-4">
				<p>Equipment Name: {{equipment_name}}</p>
				<p>Location: {{equipment_location}}</p>
				<p>Eq Info: {{equipment_info}}</p>
			</div>
			<div class="col-md-4">
				<p>Actuator Name: {{actuator_name}}</p>
				<p>Actuator Info: {{actuator_info}}</p>
			</div>
		</div>
	</div>
</span>
