<div>
    <form name="myform" class="white-txt" ng-submit="add(fieldsname, fieldunit, fieldlongunit, fieldsinfo, fieldmac, fielduid)">
        <div class="form-group">
            <label for="input" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" ng-model="fieldsname" value="{{sname}}">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Unit</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="6" ng-model="fieldunit" value="{{unit}}">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Longunit</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="16" ng-model="fieldlongunit">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Sensor Info</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input" maxlength="1024" ng-model="fieldsinfo" placeholder="Information about the sensor">
            </div>
            <label for="input" class="col-sm-2 form-control-label">Mac-Address</label>
            <div class="col-sm-4">
                <input ng-disabled="true" type="text" class="form-control" id="input" ng-model="fieldmac">
            </div>
             <label for="input" class="col-sm-2 form-control-label">Eq UID</label>
            <div class="col-sm-4">
                <input ng-disabled="true" type="text" class="form-control" id="input" ng-model="fielduid">
            </div>
            <input ng-disabled="submitButtonTog" type="submit" value="Submit" />
        </div>
    </form>
</div>
