<sens-page>
<div ng-controller = "SensorController">
<body>

<div class="container fullscreen_bg">

  <!-- <div ng-repreat= "device in {{test1}}">hello</div> -->
  <h2>Sensors</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sensor Name</th>
        <th>Equiment ID</th>
        <th>Info</th>
        <th>longunit</th>
        <th>unit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>{{id}}</td>
        <td>{{info}}</td>
        <td>{{longunit}}</td>
        <td>{{unit}}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</div>
<sens-page>
