<div ng-controller = "SensorController">
<body>

<div class="container">
  <div class = "row"><h1><font color ="white">Sensors</font></h1></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><font color="white">Sensor Name</font></th>
        <th><font color="white">Equiment ID</font></th>
        <th><font color="white">Info</font></th>
        <th><font color="white">longunit</font></th>
        <th><font color="white">unit</font></th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat = "sensor in SenInfo track by $index" >
        <td ><a href ="#/sensors/{{sensor.sensor_info.id}}">{{sensor.sensor_info.name}}</a></td>
        <td ><font color="black">{{sensor.sensor_info.id}}</font></td>
        <td>{{sensor.sensor_info.info}}</td>
        <td>{{sensor.sensor_info.longunit}}</td>
        <td>{{sensor.sensor_info.unit}}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</div>
