<div ng-controller = "SpecSensorController">
<div class="container">
  <div class = "row">
    <kg-display display='tempdata' ind = '0'></kg-display>
  </div>
</div>
<div class = "container">
<div class="row">
<div class = "col-md-3"> <input type="text" value="10" class="dial2"></input></div>
</div>
</div>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.css">
<script>
var slider = new Slider('#ex2', {});
</script>
Filter by price interval: <b>€ 10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
 -->
