<div ng-controller = "MapController">
  <div class = "container" >
    <div class ="row"><h1><font color="white"> Welcome to your Tiny House! </font> </h1> </div>
    <div class = "row">
      <div classs = "col-md-4"></div>
      <div classs = "col-md-4">
       <input class = "form-control" ng-model = "query">
      </div>
      <div classs = "col-md-4"></div>
    </div>
    <div class = "row" >
      <div ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"" ng-repeat="init_data in test | filter:query" >
        <dir-button display='{{init_data}}'></dir-button>
      </div>
    </div>
</div>
